@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,200&display=swap');
:root{
    --sidebar-color: #082032;
    --sidebar-media-color: #061d2e;
    --side-content-color: #f7f2f6;
    --sidebar-font-color: #fff;
    --dark-mode-color: #282828;
    --profile-font-size: 1.1rem;
    --profile-p-size: .8rem;
    --nav-font-size: 1.3rem;
    --nav-social-size: 2.5rem;   
    --h1-font-size: 2.5rem; 
    --paragraph-font-size: 1.5rem;
}



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* -- Section default styles -- */

section{
    height: 100vh;
    width: 100%;
    transition: all 1s ease-in-out;    
}

.skills-section{
    background-color: #109f68;
}
.portfolio-section{
    background-color: #091A7A;
}
.contato-section{
    background-color: #076487;
}


/* -- Hero section styles -- */
.hero-section{
    display: flex;
}


/* #region SIDEBAR*/
.sidebar-container{
    min-width: 12.5rem;
    width: 15%;
    height: 100vh;
}
.sidebar{
    width: 15%;
    min-width: 12.5rem;
    height: 100vh;
    min-height: 600px;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    animation: sidebar-slide-in .8s ease-in-out;
}

@keyframes sidebar-slide-in{
    0%{
        transform: translateX(-100%);
    }
    
    100%{
        transform: translateX(0);
    }
}

/* -- Hamburguer Menu button -- */
.hamburger-btn{
    display: none;    
}



/* -- Profile Container -- */

.profile-container{
    display: flex;
    flex-direction: column;    
    width: 100%;
    align-items: center;
    padding: 1rem;
    color: var(--side-content-color);
    min-width: 150px;
}
.profile-container h4{
    font-weight: bold;
    margin: 1rem 0 .5rem;
    font-size: var(--profile-font-size);    
}
.profile-container p{
   font-size: var(--profile-p-size);
}
.profile-container img{
    width: 60%;
    border-radius: 50%;
    margin: 0 auto;
}

/* -- Navbar links -- */
.navigation{
    height: 40vh;
    width: 100%;
    display: flex;
}
.navigation ul{
    margin: 0 auto;
}

.navigation li{
    padding: 2rem;
    padding-bottom: .6rem;
}

.navigation a{
    color: #fff;
    font-size: var(--nav-font-size);
    border-bottom: #fff 1px solid;    
}
.navigation li:hover{
    transform: translateX(10px);
    transition: all ease-in-out .2s;
}
.navigation i{
    margin-right: 1rem;
}

.social-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    border-radius: 5px;
    height: 5vh;
    background-color: var(--sidebar-media-color);
}

.social-media i{
    font-size: var(--nav-social-size);
    padding: .4rem;
    color: var(--side-content-color);
}

.social-media a:hover{
    
    padding-bottom: 2rem;
    transition: all ease-in-out .2s;
}
/* #endregion*/


/* -- Hero section content -- */

.side-content{
    flex: 1;
    height: 100vh;
    min-height: 600px;
    background-color: var(--side-content-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.toggle-dark-button{
    position: absolute;
    top: 40px;
    right: 20px;
    background-color: #fff;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}
.dark-mode{
    background-color: var(--dark-mode-color);
    color: #fff;
}



.hero-image{
    height: 100vh;
    min-height: 600px;
    width: 50%;
    position: relative;
}

.hero-image img{
    height: 100%;
    width: 100%;
}

.slide-container{  
    display: flex;  
    justify-content: space-around;
    align-items: center;
    width: 4rem;
    height: 2rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.slide-btn{
    background-color: #fff;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

.slide-active{
    background: transparent;
    border: #090a0a 2px solid;
    pointer-events: none;
}
.hero-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 4rem;
    animation: text-animation .5s forwards;
}
.hero-text-container h1{
    font-size: var(--h1-font-size);
    margin: 1rem;
    animation-delay: .175s;

}
.hero-text-container p{
    font-size: var(--paragraph-font-size);
    animation-delay: .25s ;
}


/* Animation for text in the hero section*/
@keyframes text-animation{
    from{
        transform: translateY(20px);
        opacity: 0;

    }
    to{
        opacity: 1;
    }
}

.scroll-next-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: #090a0a 1px solid;
    background-color: transparent;  
    animation: bounce 2s infinite;

}
.scroll-next-section:hover{
    animation: none;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}
.scroll-next-section i{
    color: #090a0a;
    font-size: 1.5rem;
    margin: 0 auto;
}

@media screen and (max-width: 700px) {
    
    :root{
        --profile-font-size: 1rem;
        --profile-p-size: .8rem;
        --nav-font-size: 1rem;
        --nav-social-size: 2rem;
        --nav-font-size: 1rem;
        --nav-social-size: 2.5rem;   
        --h1-font-size: 1.5rem; 
        --paragraph-font-size: 1rem;
    }
    .sidebar-container{
        display: none;
    }

    .hamburger-btn{
        display: block;
        position: fixed;
        top: 40px;
        left: 20px;    
        cursor: pointer;
        background: transparent;
        border: none;
        color: var(--sidebar-color);
        font-size: 2rem;
        z-index: 1;
        transition: all .5s ease-in-out;          
    }
    
    .social-media{
        font-size: .8rem;
        margin-bottom: 1rem;
    }
    .social-media i{
        font-size: 1rem;
        padding: .4rem;
        color: var(--side-content-color);
    }
    .navigation li{
        margin: 0;
    }
    
    .sidebar{
        position: fixed;
        top: 75px;
        left: 20px;
        min-height: 500px;
        height: 50vh;
        transition: all .3s ease-in-out;       
    
    }

  
}